<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Event Form</title>
</head>
<body>
<h2>Add Event</h2>
<form th:action="@{/addEvent}" th:object="${event}" method="post">
    <label>Name: <input type="text" th:field="*{name}" /></label><br/>
    <label>Description: <input type="text" th:field="*{description}" /></label><br/>
    <label>Category: <input type="text" th:field="*{category}" /></label><br/>
    <label>Date and Time: <input type="datetime-local" th:field="*{dateTime}" /></label><br/>
    <label>Venue: <input type="text" th:field="*{venue}" /></label><br/>
    <label>Available Tickets: <input type="number" th:field="*{availableTickets}" /></label><br/>
    <label>Ticket Price: <input type="number" th:field="*{ticketPrice}" step="0.01" /></label><br/>
    <input type="submit" value="Add Event"/>
</form>
</body>
</html>