<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event Details</title>
</head>
<body>
<div class="container">
    <h2 th:text="${event.name}">Event Name</h2>

    <p th:text="${event.description}">Event Description</p>
    <p th:text="${event.category}">Event Category</p>
    <p th:text="${event.venue}">Event Venue</p>
    <p th:text="${event.availableTickets}">Available Tickets</p>
    <p th:text="${event.ticketPrice}">Ticket Price</p>


    <a th:href="@{/reservation/new/{eventId}(eventId=${event.id})}">Book event</a>

    <a th:href="@{/}">Back to Dashboard</a>
</div>
</body>
</html>