<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Login</title>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" >-->
<!--</head>-->
<!--</head>-->
<!--<body>-->

<!--    <div class="container">-->

<!--        <h1>Login Page</h1>-->
<!--        <p th:if="${param.error}"> User/password is invalid. </p>-->
<!--        <p th:if="${param.logout}"> Logged out. </p>-->

<!--        <form method="post" th:action="@{/login}">-->
<!--            <div class="mb-3">-->
<!--                <label class="form-label">Email address</label>-->
<!--                <input type="email" name="username" class="form-control" required />-->
<!--            </div>-->
<!--            <div class="mb-3">-->
<!--                <label class="form-label col-auto">Password</label>-->
<!--                <input type="password" class="form-control"  name="password" />-->
<!--            </div>-->
<!--            <button type="submit" class="btn btn-primary">Submit</button>-->
<!--        </form>-->

<!--    </div>-->

<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" ></script>-->


<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log in</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" th:href="@{~/webjars/AdminLTE/3.2.0/plugins/fontawesome-free/css/all.min.css}">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" th:href="@{~/webjars/AdminLTE/3.2.0/plugins/icheck-bootstrap/icheck-bootstrap.min.css}">
    <!-- Theme style -->
    <link rel="stylesheet" th:href="@{~/webjars/AdminLTE/3.2.0/dist/css/adminlte.min.css}">
</head>
<body class="hold-transition login-page">
<div class="login-box">

    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Sign in</p>

            <p class="login-box-msg text-danger" th:if="${param.error}">
                User/password is invalid.
            </p>
            <p class="login-box-msg text-danger" th:if="${param.logout}">
                You have been logged out.
            </p>
            <p class="login-box-msg" th:if="!${param.error}">
                Please log in to proceed
            </p>

            <div th:if="${successMessage}" class="alert alert-success" role="alert">
                <strong th:text="${successMessage}"></strong>
            </div>

            <form th:action="@{/login}" method="post">
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Email" name="username">
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Password" name="password">
                </div>
                <div class="row">

                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                    </div>
                    <div class="col-8">
                    <p class="mb-0">
                        <a href="/register" class="text-center">Register a new membership</a>
                    </p>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script th:src="@{~/webjars/AdminLTE/3.2.0/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{~/webjars/AdminLTE/3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{~/webjars/AdminLTE/3.2.0/dist/js/adminlte.min.js}"></script>
</body>
</html>
