<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
</head>
<body>
    <h2>User Registration</h2>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <label>Name: <input type="text" th:field="*{name}" /></label><br/>
        <label>Email: <input type="email" th:field="*{email}"/></label>
        <label>Password: <input type="password" th:field="*{password}"/></label>
        <input type="submit" value="Register"/>
    </form>
</body>
</html>