<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="alpha" class="com.rsp.beans.Alpha">
        <property ref="beta" name="beta"/>
<!--        <constructor-arg ref="beta" name="beta"/>-->

    </bean>
<!--cyclic dependency injection-->
<!--constructor to constructor not possible-->
<!--setter to setter is possible-->
<!--setter to constructor is possible-->
    <bean id="beta" class="com.rsp.beans.Beta">
<!--        <property ref="alpha" name="alpha"/>-->
        <constructor-arg ref="alpha" name="alpha"/>

    </bean>

</beans>