<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="ff" class="com.rsp.beans.FirstFlight"/>-->
    <bean id="fe" class="com.rsp.beans.BlueDart"/>
<!--    <bean id="bd" class="com.rsp.beans.FedEx"/>-->
    <bean id="amazon" class="com.rsp.beans.Amazon"/>

<!--to enable annotation, use this property-->
    <context:annotation-config>

    </context:annotation-config>
</beans>