<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleag.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login Page</h1>
    <div class="container">

        <form method="post" th:action="@{/login}">
            <label for="email">Email: </label>
            <input type="email" id="email" name="email" required/>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password"/>
            <button type="submit">Login</button>
        </form>

    </div>

</body>
</html>