<!DOCTYPE html>
<html layout:decorate="~{common/admin_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
</head>
<body>

<div class="p-3" layout:fragment="content">

    <section class="content pt-3">
        <div class="row w-100">
            <div class="card w-100">
                <div class="card-body table-responsive p-0">
                    <h1>Contact Us</h1>
                </div>
            </div>
        </div>
    </section>

</div>

<th:block layout:fragment="script">
    <script>
    </script>
</th:block>

</body>
</html>
