<!DOCTYPE html>
<html layout:decorate="~{common/admin_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book|Event</title>
</head>
<body>

<div class="p-3" layout:fragment="content">

    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-primary">
                        <h3 class="card-title">Book Event</h3>
                        <div class="card-tools">
                        </div>
                    </div>

                    <div class="card-body p-2">
                        <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                            <strong th:text="${errorMessage}"></strong>
                        </div>
                        <form th:action="@{~/user/reservations/store}" method="post"
                              th:object="${newReservationRequest}">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="numberOfTickets">Enter Number Of Tickets</label>
                                        <input name="userId" th:value="${session.user.id}" type="hidden" class="form-control" id="userIdu">
                                        <input name="eventId" th:value="${viewEvent.event.id}" type="hidden" class="form-control" id="eventId">
                                        <input name="numberOfTickets" type="text" class="form-control"
                                               id="numberOfTickets"
                                               placeholder="Number of Tickets">
                                        <input th:value="${viewEvent.event.eventDate}"  name="reservationTime" type="hidden" class="form-control" id="reservationTime">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-primary">Submit Booking</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </section>

</div>

<th:block layout:fragment="script">
    <script>
        console.log("Home Page");

    </script>
</th:block>

</body>
</html>
