<!DOCTYPE html>
<html layout:decorate="~{common/admin_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
</head>
<body>

<div class="p-3" layout:fragment="content">

    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Add New Reservation</h3>
                        <div class="card-tools">

                        </div>
                    </div>

                    <form th:action="@{~/admin/reservations/store}" method="post" th:object="${newReservationRequest}">
                        <div class="card-body">
                            <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                                <strong th:text="${errorMessage}"></strong>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="hidden" th:if="${#strings.equals(session.user.role,'USER')}" name="userId" th:value="${session.user.id}" class="form-control" id="userIdu">
                                    <div class="form-group" th:if="${#strings.equals(session.user.role,'ADMIN')}">
                                        <label for="userId">Select Customer Name</label>
                                        <select name="userId" class="form-control" id="userId">
                                            <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="eventId">Event Name</label>
                                        <select name="eventId" class="form-control" id="eventId">
                                            <option th:each="event : ${events}" th:value="${event.id}" th:text="${event.eventName}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="numberOfTickets">Number Of Tickets</label>
                                        <input th:value="2024-01-10" name="reservationTime" type="hidden" class="form-control" id="reservationTime"
                                               placeholder="Reservation Time">
                                        <input name="numberOfTickets" type="text" class="form-control" id="numberOfTickets"
                                               placeholder="Number of Tickets">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </section>

</div>

<th:block layout:fragment="script">
    <script>
        console.log("Home Page");
    </script>
</th:block>

</body>
</html>
