<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Registration</title>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
          rel="stylesheet">
    <link href="/webjars/AdminLTE/3.2.0/plugins/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/webjars/AdminLTE/3.2.0/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet">
    <link href="/webjars/AdminLTE/3.2.0/dist/css/adminlte.min.css" rel="stylesheet">
</head>
<body class="hold-transition register-page">
<div class="register-box">
    <div class="card">
        <div class="card-body register-card-body">
            <div class="register-logo">
                <a href="#"><b>Registration</b></a>
            </div>
            <p class="login-box-msg">Create a new account</p>
            <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                <strong th:text="${errorMessage}"></strong>
            </div>
            <form th:action="@{~/register}" method="post" th:object="${registrationRequest}">
                <div class="input-group mb-3">
                    <input name="name" class="form-control" style="border: 1px solid #ced4da !important" placeholder="Full Name" type="text">
                </div>
                <div class="input-group mb-3">
                    <input name="email" class="form-control" style="border: 1px solid #ced4da !important" placeholder="Enter Email" type="email">
                </div>
                <div class="input-group mb-3">
                    <input name="dob" class="form-control" style="border: 1px solid #ced4da !important" placeholder="Date of Birth" type="date">
                </div>
                <div class="input-group mb-3">
                    <input name="password" class="form-control" style="border: 1px solid #ced4da !important" placeholder="Password" type="password">
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input id="agreeTerms" required name="terms" type="checkbox" value="agree">
                            <label for="agreeTerms">
                                I agree to the <a href="#">terms</a>
                            </label>
                        </div>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-primary btn-block" type="submit">Register</button>
                    </div>
                </div>
            </form>

            <a class="text-center" href="/login">Already have an account? Login</a>
        </div>
    </div>
</div>


<script src="/webjars/AdminLTE/3.2.0/plugins/jquery/jquery.min.js"></script>
<script src="/webjars/AdminLTE/3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/webjars/AdminLTE/3.2.0/dist/js/adminlte.min.js"></script>
</body>
</html>
