<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
</head>
<body>
    <div class="container col-md-offset-3 col-md-8 mt-lg-5">

        <div class="row mt-2">
            <div th:if="${param.success}">
                Registration successful, please check your email to complete your registration.
            </div>
            <div class="col-md-12 m-4 fw-bold">User Registration Form</div>
        </div>

        <form th:action="@{/registration/register}" method="post" th:object="${user}" class="px-4">
            <div class="mb-3 row">
                <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                    <input type="text"  id="firstName" autofocus="autofocus"
                           class="form-control" required name="firstName" th:field="*{firstName}">
                </div>
            </div>

            <div class="mb-3 row">
                <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-10">
                    <input type="text"  id="lastName" autofocus="autofocus"
                           class="form-control" required name="lastName" th:field="*{lastName}">
                </div>
            </div>

            <div class="mb-3 row">
                <label for="email" class="col-sm-2 col-form-label">Email id</label>
                <div class="col-sm-10">
                    <input type="text"  id="email" autofocus="autofocus"
                           class="form-control" required name="email" th:field="*{email}">
                </div>
            </div>

            <div class="mb-3 row">
                <label for="password" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password"  id="password" autofocus="autofocus"
                           class="form-control" required name="password" th:field="*{password}">
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-success">Register</button>
                <span style="margin-left: 54px">Registered already?
                    <a href="/" th:href="@{authenticate/login}">Login here!</a>
                </span>
            </div>

        </form>
    </div>
</body>
</html>